<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmileCall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D8699C51BC15FC3000E0378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8699D91BC15FC3000E0378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8699E41BC15FC4000E0378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
